$player13height: 78px;
$player13width: 300px;
$player13sidemargins: 30%;
$player24height: 400px;
$player24width: 54px;
$playedcardwidth: 54px;
$playedcardheight: 78px;
$playedcardmargin: 54px;
$gameWidth: 95%;
$font-size: 16px;
$cardmargin: 5px;
$scorewidth: 16%;
$scoreheight: 36px;
$scorefontsize: 32px;

body {
  font-size: $font-size;
  color: white;
  background-image: url('dark_embroidery.png');
}

header {
  font-size: 32px;
  width: $gameWidth;
  text-align: center;
  margin-bottom: 10px;
}

// #pregame {
//
// }

.card {
  height: 78px;
  width: 54px;
}

#game {
  border: 4px solid black;
  width: $gameWidth;
  height: 750px;
  background: rgb(25,77,30);
  margin-left: 2.5%;
}

#trickArea {
  margin-left: 35%;
  float: left;
  margin-top: 80px;
}

#middleCard {
  height: $playedcardheight;
  width: $playedcardwidth;
  float: left;
  margin: 1px;
}

#player1PlayedCard {
  height: $playedcardheight;
  width: $playedcardwidth;
  clear:both;
  margin-left: $playedcardmargin;
  margin-right: $playedcardmargin;
}

#player2PlayedCard {
  height: $playedcardheight;
  width: $playedcardwidth;
  float: left;
}

#player3PlayedCard {
  height: $playedcardheight;
  width: $playedcardwidth;
  margin-left: $playedcardmargin;
  margin-right: $playedcardmargin;
}

#player4PlayedCard {
  height: $playedcardheight;
  width: $playedcardwidth;
  float: left;
}

#player1GameArea {
  height: $player13height;
  float: left;
  margin-right: $player13sidemargins;
  margin-bottom: 1%;
}

#player1GameAreaName {
  height: $font-size;
  clear: both;
  float: left;
  margin-left: $player13sidemargins;
}

#player1GameArea img {
  margin-left: $cardmargin;
  margin-right: $cardmargin;
}

#player2GameArea {
  float: right;
  clear: right;
  height: $player24height;
  width: 54px;
  margin-right: 5px;
}

#player2GameArea img {
  margin-top: $cardmargin;
  margin-bottom: $cardmargin;
}

#player2GameAreaName {
  height: $font-size;
  float: right;
  margin-right: 5px;
}

#player2HandCard1 {
  clear: both;
  float: right;
}

#player2HandCard2 {
  clear: both;
  float: right;
}

#player2HandCard3 {
  clear: both;
  float: right;
}

#player2HandCard4 {
  clear: both;
  float: right;
}

#player2HandCard5 {
  clear: both;
  float: right;
}

#player3GameArea {
  height: $player13height;
  margin-right: $player13sidemargins;
  float: left;
  margin-top: 5px;
}

#player3GameArea img {
  margin-left: $cardmargin;
  margin-right: $cardmargin;
}

#player3GameAreaName {
  height: $font-size;
  float: left;
  margin-left: $player13sidemargins;
  margin-top: 5px;
}

#player4GameArea {
  float: left;
  clear: both;
  height: $player24height;
  width: 54px;
  margin-left: 5px;
}

#player4GameArea img {
  margin-top: $cardmargin;
  margin-bottom: $cardmargin;
}

#player4GameAreaName {
  height: $font-size;
  clear: both;
  float: left;
  margin-left: 5px;
}

#player4HandCard1 {
  clear: both;
  float: left;
}

#player4HandCard2 {
  clear: both;
  float: left;
}

#player4HandCard3 {
  clear: both;
  float: left;
}

#player4HandCard4 {
  clear: both;
  float: left;
}

#player4HandCard5 {
  clear: both;
  float: left;
}

.scoring {
  width: $scorewidth;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

#firstTitle {
  clear: both;
}

#scoreHandTeamOne {
    height: $scoreheight;
    font-size: $scorefontsize;
    clear: both;
}

#scoreHandTeamTwo {
  height: $scoreheight;
  font-size: $scorefontsize;
}

#scoreTeamOne {
    height: $scoreheight;
    font-size: $scorefontsize;
}

#scoreTeamTwo {
  height: $scoreheight;
  font-size: $scorefontsize;
}

#currentTrump {
  height: $scoreheight;
  font-size: $scorefontsize;
}

#messageBar {
  clear: both;
  float: left;
  font-size: 18px;
  height: 18px;
  margin: 2%;
  margin-left: 20%;
}

.bidButton {
  margin-left: 16px;
  font-weight: bold;
}

footer {
  text-align: right;
  clear: both;
  float: right;
  margin-bottom: 25px;
  margin-top: 25px;
  padding-right: 150px;
}
