$player13height: 78px;
$player13width: 300px;
$player24height: 400px;
$player24width: 54px;
$playedcardwidth: 54px;
$playedcardheight: 78px;
$playedcardmargin: 60px;
$gameWidth: 90%;
$font-size: 16px;

body {
  font-size: $font-size;
  color: white;
}

#header {
  color: black;
}

#pregame {
  color: black;
}

.card {
  height: 78px;
  width: 54px;
  border: 2px solid black;
  background: url('cards/9_of_clubs.png');
}

#game {
  border: 4px solid black;
  width: $gameWidth;
  height: 700px; //Change so it equals the width
  background: rgb(25,77,30);
}

#trickArea {
  border: 1px solid black;
  margin-left: 40%;
  margin-top: 10%;
  float: left;
  width: 300px;
}

// #middlecard {
//   border: 1px solid blue;
//   height: $playedcardheight;
//   width: $playedcardwidth;
//   float: left;
// }

#player1PlayedCard {
  border: 1px solid black;
  height: $playedcardheight;
  width: $playedcardwidth;
  clear:both;
  margin-left: $playedcardmargin;
  margin-right: $playedcardmargin;
}

#player2PlayedCard {
  border: 1px solid white;
  height: $playedcardheight;
  width: $playedcardwidth;
  float: right;
}

#player3PlayedCard {
  border: 1px solid black;
  height: $playedcardheight;
  width: $playedcardwidth;
  margin-left: $playedcardmargin;
  margin-right: $playedcardmargin;
}

#player4PlayedCard {
  border: 1px solid black;
  height: $playedcardheight;
  width: $playedcardwidth;
  float: left;
}

#player1GameArea {
  border: 1px solid black;
  height: $player13height;
  clear: both;
}

#player1GameAreaName {
  border: 1px solid black;
  height: $font-size;
  clear: both;
}

#player1HandCard1 {

}

#player1HandCard2 {

}

#player1HandCard3 {

}

#player1HandCard4 {

}

#player1HandCard5 {

}

#player2GameArea {
  border: 1px solid black;
  float: right;
  clear: right;
  height: $player24height;
}

#player2GameAreaName {
  border: 1px solid black;
  height: $font-size;
  float: right;
}

#player2HandCard1 {
  clear: both;
  float: right;
}

#player2HandCard2 {
  clear: both;
  float: right;
}

#player2HandCard3 {
  clear: both;
  float: right;
}

#player2HandCard4 {
  clear: both;
  float: right;
}

#player2HandCard5 {
  clear: both;
  float: right;
}

#player3GameArea {
  border: 1px solid black;
  height: $player13height;
}

#player3GameAreaName {
  border: 1px solid black;
  height: $font-size;
  float: left;
}

#player3HandCard1 {

}

#player3HandCard2 {

}

#player3HandCard3 {

}

#player3HandCard4 {

}

#player3HandCard5 {

}

#player4GameArea {
  border: 1px solid black;
  float: left;
  clear: both;
  height: $player24height;
}

#player4GameAreaName {
  border: 1px solid black;
  height: $font-size;
  float: left;
}

#player4HandCard1 {
  clear: both;
  float: left;
}

#player4HandCard2 {
  clear: both;
  float: left;
}

#player4HandCard3 {
  clear: both;
  float: left;
}

#player4HandCard4 {
  clear: both;
  float: left;
}

#player4HandCard5 {
  clear: both;
  float: left;
}

#messageBarTitle {
  border: 1px solid black;
  color: black;
  width: $gameWidth;
}

#messageBar {
  border: 1px solid black;
  clear: both;
  height: 16px;
  color: black;
  width: $gameWidth;
}




// @media {
//
// }
