header {
  background: url("http://medias.photodeck.com/d44d6b5e-8c57-11e3-80be-e9391c0622b6/DSC02169-Chicago-Skyine-Black-And-White-Photo_xgaplus.jpg");
  background-size: cover;
}
h1 {
  font-size: 50px;
  font-family: helvetica;
}
body {
  text-align: center;
  background: black;
}
ul {
  padding: 10px;
  background: rgba(255, 255, 255, .5);
}

li {
  color: black;
  font-size: 20px;
}
img {
  border: 10px solid black;
  border-radius: 15px;
  margin: 40px 0px 40px 0px;
}
p {
  color: white;
  font-family: times;
  font-size: 20px;
  padding: 0px 100px 0px 100px;
}
@media (max-width: 500px) {
    h1{
      font-size: 24px;
    }
  }
