$height: 100vh;
$bodycolor: #566D59;
$linkcolor: #192521;
$opensans: 'Open Sans', sans-serif;
$cabin: 'Cabin Sketch', cursive;
$card: #96B49A;
$navfootcolor: #243930;

body {
  background-color: $bodycolor;
  color: white;
  font-family: $opensans;
}

.brand-logo, .card-title, h1, h2, h5 {
  font-family: $cabin;
}

a {
  color: $linkcolor;
}

.anchor {
  padding-top: 75px;
  margin-top: -60px;
}

#portfolio {
  padding-top: 75px;
  margin-top: -60px;
}

.card {
  background-color: $card;
}

#dropdown1, #dropdown2 {
  li {
    a {
        color: $linkcolor;
    }
  }
}

.projectLink {
  color: $linkcolor;
  font-weight: bold;
}

#aboutme {
  height: $height;
  width: 100%;
  background-color: $card;
  font-family: $opensans;
}

#contact {
  background-color: $navfootcolor;
  font-family: $opensans;
}

#navbarColor {
  background-color: $navfootcolor;
}

#downloadButtons {
  padding-left: 10px;
  padding-top: 10px;
  a {
    background-color: #6A816D;
  }
}

@media (max-width: 500px) {
  #aboutme {
    h1 {
      font-size: 2.1rem;
    }
    h4 {
      font-size: 1.14rem;
    }
  }
}
